@page
@model IndexModel
@{
    Layout = "SiteLayout";
    ViewData["Title"] = "Steven Fuqua";
    /*if (!Context.Request.Headers["X-Requested-With"].Any(s => s == "XMLHttpRequest"))
    {
        Layout = "~/Views/Shared/SiteLayout.cshtml";
    }*/
}
<h1>Under (re)Construction :)</h1>
@{ /*
          <ul class="flex">
              <li>
                  <nav class="tile-group">
                      <h1>Personal</h1>
                      <ul class="flex">
                          <li>
                              <a class="tile" href="~/Home/Resume">
                                  <div class="label">Resume</div>
                              </a>
                          </li>
                          <li>
                              <a class="tile" href="~/Home/About">
                                  <div class="label">About Me</div>
                              </a>
                          </li>
                      </ul>
                  </nav>
              </li>

              <li>
                  <nav class="tile-group">
                      <h1>Projects</h1>
                      <ul class="flex">
                      @foreach (var tile in Model.Projects)
                      {
                          <li>
                              <a class="@Model.GetTileClass(tile)" style="@Model.GetTileStyle(tile)" href="@Href($"~/Projects/{tile.ProjectId}")">
                                  <div class="label">@tile.Label</div>
                              </a>
                          </li>
                      }
                      </ul>
                  </nav>
              </li>

              <li>
                  <nav class="tile-group">
                      <h1>Contact</h1>
                      <ul class="flex">
                          <li>
                              <a class="tile email" href="mailto:steven@sariph.net">
                                  <div class="label">
                                      <p>Email</p>
                                      <p>steven@sariph.net</p>
                                  </div>
                              </a>
                          </li>
                          <li>
                              <a class="tile email" href="mailto:sfuqua@microsoft.com">
                                  <div class="label">
                                      <p>Email</p>
                                      <p>sfuqua@microsoft.com</p>
                                  </div>
                              </a>
                          </li>
                          <li>
                              <a class="tile facebook hide-name" href="http://www.facebook.com/sjfuquajr">
                                  <div class="label">
                                      Facebook
                                  </div>
                              </a>
                          </li>
                          <li>
                              <a class="tile twitter hide-name" href="http://www.twitter.com/SansSariph">
                                  <div class="label">
                                      <p>Twitter</p>
                                      <p>@@SansSariph</p>
                                  </div>
                              </a>
                          </li>
                          <li>
                              <a class="tile linkedin hide-name" href="http://www.linkedin.com/in/sjfuquajr">
                                  <div class="label">
                                      LinkedIn
                                  </div>
                              </a>
                          </li>
                      </ul>
                  </nav>
              </li>
          </ul>

          <p class="disclaimer">
              This is a personal website - all opinions and projects on this website are my own and do not reflect any endorsement by Microsoft.
          </p>
          */
}